<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <button (click)="onAddServer()">Addd server</button>
      <hr>
      <input type="text" [(ngModel)]="filteredStatus">
      <hr>
      <!-- async pipe -->
      <p>App Status: {{appStatus |async }}</p>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers | filter:filteredStatus:'status'|sort:'name' "
          [ngClass]="getStatusClasses(server)">
          <span class="badge">
            {{ server.status }}
          </span>
          <!-- pipes transform data in template -> we use | to add pipe. for example varaible | pipe-->
          <!-- we can also config pipe by adding : and the name of config -->
          <!-- you can add multpiuple pipes to one -->
          <strong>{{ server.name |shorten:15}}</strong> | {{ server.instanceType |reverse | uppercase }} | {{
          server.started |
          date:"fullDate" | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>